<div class="tab credits" data-group="primary" data-tab="credits">
  A big thanks goes to the creators of the Mythras Encounter Generator.
  Our Foundry "skin" of the tool certainly would not be possible without it. See their <a href="https://mythras.skoll.xyz/about/">About page</a>
  for more information about the tool and for credits to all of the people and resources that make this great tool possible!
</div>