<div class="form-group">
  <label>Automatically Reduce AP?</label>
  <input type="checkbox" name="reduceAp" value="{{value.reduceAp}}" data-dtype="Boolean" />
  <p class="notes">Automatically reduce Action Points when a combatant's turn is passed?</p>
</div>