<div class="labelled-text-input">
  <p class="labelled-text-input__label">
    {{ label }}
  </p>
  <input class="labelled-text-input__input labelled-text-input__input--underlined" type="text" name="{{ name }}"
    value="{{ value }}" />
</div>