<div class="derived-stat">
  <p class="derived-stat__value modifiable" name="{{stat.derivedName}}">
    {{ stat.derivedValue }}
  </p>
  <div class="derived-stat__modifier">
    <span>
      +
    </span>
    <input placeholder="0" type="text" name="{{stat.modifierName}}" class="modifier text-input text-input--mini"
      value="{{stat.modifierValue}}" /> 
  </div>
</div>